## Diccionarios
Kata 8

In [11]:
# Definir el diccionario.

planet = {
    'name' : 'Mars',
    'moons' : 2
    }

In [14]:
# Recuperar datos dcel diicionario
planet_name = planet.get('name')
print(planet_name)
print(planet['moons'])

Mars
2

In [15]:
# Actualización de datos
planet.update({'circunferencia' : {'polar': 6752, 'equatorial' : 6792}})

In [19]:
# Recuperar información de diccionario
print(f'Circunferencia Polar de {planet["name"]}: {planet["circunferencia"]["polar"]} Km.')

Circunferencia Polar de Mars: 6752 Km.

In [24]:
# Cálcuo de valores
total_moons = 0

planet_moons = {
    'mercury' : 0,
    'venus' : 0, 
    'earth' : 1, 
    'mars' : 2,
    'jupiter' : 79,
    'saturn' : 82,
    'uranus' : 27,
    'neptune' : 14,
    'pluto' : 5,
    'haumea' : 2,
    'makemake' : 1,
    'eris' : 1 
}

# Almacenamiento de número de planetas
planets = len(planet_moons)
##planets = len(planet_moons.keys())

In [33]:
# Iteración para conteo de lunas
total_moons = 0
for value in planet_moons.values():
    total_moons = total_moons + value
##promedio = total_moons / planets
print(f'Número total de lunas en nuestro Sistema Solar: {total_moons} \nPromedio de lunas en nuestro sistema solar: {total_moons / planets}')
##print(f'Número total de lunas en nuestro Sistema Solar: {total_moons} \nPromedio de lunas en nuestro sistema solar: {promedio}')

Número total de lunas en nuestro Sistema Solar: 214
Promedio de lunas en nuestro sistema solar: 17.833333333333332